.info-box {
  width: 1000px;
  height: 130px;
  background-image: url(https://static.meteofor.st/ui-mf/assets/bg-desktop-wide/d_c2.webp);
  background-position-x: 10%;
  background-size: cover;
}
.tabs {
  margin-top: 70px;
}
.tab-link {
  cursor: pointer;
  margin: 0 10px;
  color: white;
}
.active {
  color: orange;
}
