.detail-conteiner {
  width: 640px;
  height: 400px;
  background-image: url("https://res.cloudinary.com/degtrhf0k/image/upload/t_400/v1742476971/d_c2_lkshlf.webp");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.conteiner-w-now {
  width: 660px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 20px;
}

.details-w-now {
  position: absolute;
  bottom: 0;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.weathertabs {
  width: 660px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.weathertab {
  margin-bottom: 10px;
  background-color: white;
  width: 230px;
  height: 100px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
.divider {
  border: 0.5px solid #4b4b4b;
  margin-bottom: 10px;
}
.weathertab:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.weathertab.active {
  margin-bottom: 0;
  height: 110px;
  box-shadow: none;
  color: #4b4b4b;
  transform: translateY(-4);
}
